// Carousel configuration parameters
$n: 8;
$item-width: 500px;
$item-separation: 120px;
$viewer-distance: 500px;

// Derived variables
$theta: 2 * 3.141592653589793 / $n; 
$apothem: 482.842712474619px;
